@import "./variables";
@import "./mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: 'Verdana', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

ul { list-style-type: none; }

a {
    text-decoration: none;
    color: inherit;
}

.fa-phone-alt {
    color: $primary_color;
    margin-right: 0.5em;
}

.card {
    @include flex(column, $justify: center, $align: center, $gap: 10px, $wrap: false);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;

    img {
        width: 25%;
        border-radius: 50%;
    }

    .card-info {
        font-size: 0.85em;
        color: rgb(180, 180, 180);

        &:last-child { font-size: 0.6em; }
    }

    div {
        margin-bottom: 1em;

        a { color: $primary_color; }
    }

    input {
        width: 100%;
        margin-bottom: 1em;
        padding: 8px 5px;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 7px;

        &::placeholder { color: rgb(190, 190, 190); }
    }

    button {
        width: 100%;
        @include button($color: rgb(255, 255, 255), $bg-color: $primary_color, $hover_color: $primary_color, $hover_bg_color: $primary_color_light);
    }
}

.bg-gray { background: linear-gradient(0deg, rgb(250, 250, 250) 5%, rgb(240, 240, 240) 90%); }
