@import "./_variables";
@import "./_mixins.scss";

// header top
.header-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 999;

    .container {
        @include flex(row, $justify: space-between, $align: center, $gap: 0, $wrap: true);
        padding: 1em 0;

        img {
            width: clamp(170px, 16vw, 300px);
        }

        // navbar
        nav {
            @include flex(row, $justify: space-between, $align: center, $gap: 1em, $wrap: true);
            font-size: 0.8em;

            ul {
                @include flex(row, $justify: center, $align: center, $gap: 1.4em, $wrap: false);
    
                li {
                    padding: 5px 0;
                    transition: border 0.1s ease-in-out;
                    
                    &:first-child,
                    &:hover {
                        color: $primary_color;
                        border-bottom: 2px solid $primary_color;
                        transform: translateY(-2px);
                    }
                }
            }
    
            button {
                @include button($color: $primary_color, $bg-color: $primary_color_light, $hover_color: rgb(255, 255, 255), $hover_bg_color: $primary_color);
            }
        }

        .fa-bars {
            display: none;
            font-size: 1.5em;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }

        @media screen and (max-width: 1000px) {
            img {
                transform: translateY(2px);
            }
        
            nav {
                display: none;
            }

            .fa-bars {
                display: block;
            }
        }
    }
}

// jumbo
.jumbo {
    position: relative;
    background-image: url('../assets/img/marketing-intro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 70px;

    .container {
        @include flex(row, $justify: space-between, $align: none, $gap: 0, $wrap: false);
        padding: 3em 0 15vw 0;

        // jumbo-left
        .jumbo-left {
            width: 50%;
            color: rgb(255, 255, 255);
            padding-top: 1em;

            p {
                padding: 1.5em 0;
            }

            button {
                @include button($color: initial, $bg-color: rgb(255, 255, 255), $hover_color: rgb(255, 255, 255), $hover_bg_color: transparent);
                border: 1px solid rgb(255, 255, 255);

                .fa-arrow-right {
                    margin-left: 0.5em;
                }
            }
        }

        // card
        .container-card {
            position: relative;
            width: 35%;

            .card {
                position: absolute;
                top: 0;
                right: 10%;
                width: 100%;
            }
        }

        @media screen and (max-width: 768px) {
            & {
                @include flex(column, $justify: center, $align: center, $gap: 30px, $wrap: false);
                
                .jumbo-left {
                    width: 100%;
                }
    
                .container-card {
                    width: 70%;
                    min-height: 300px;
    
                    .card {
                        right: 0;
                    }
                }
            }
        }
    }

    // widgets
    .container-widgets {
        position: absolute;
        top: 15px;
        right: 5px;

        .widget {
            @include flex(column, $justify: center, $align: center, $gap: 0, $wrap: false);
            width: 35px;
            height: 35px;
            font-size: 0.4em;
            background-color: rgb(255, 255, 255);
            margin-bottom: 5px;
            border: 1px solid black;
            border-radius: 5px;

            .fa-folder {
                font-size: 3em;
            }

            .price {
                position: relative;
                font-size: 2.5em;
                color: green;

                span {
                    position: absolute;
                    top: 0px;
                    left: -5px;
                    font-size: 0.5em;
                }
            }
        }
    }
}

.fa-phone-alt {
    color: $primary_color;
    margin-right: 0.5em;
}