@import "./_variables";
@import "./_mixins.scss";

main {
    padding: 5em 0;

    .container-intro {
        @include flex(row, $justify: space-around, $align: center, $gap: 15%, $wrap: false);
        margin-bottom: 6em;

        img {
            width: 35%;
            min-width: 280px;
            max-width: 400px;
        }
        
        .feature {
            width: 37.5%;

            span {
                @include flex(row, $justify: flex-start, $align: center, $gap: 5px, $wrap: false);
                font-size: 0.7em;
                text-transform: capitalize;

                & > * {
                    font-size: 1.5em;
                }

                .fa-bandcamp {
                    color: rgb(0, 0, 255);
                }

                .fa-squarespace {
                    color: rgb(255, 224, 47);
                }

                .fa-users {
                    color: rgb(0, 218, 0);
                }                
            }

            h2 {
                text-transform: capitalize;
                margin-top: 0.5em;
            }
    
            p {
                font-size: 0.8em;
                color: rgb(128, 128, 128);
                margin: 1em 0 1.5em 0;
            }
    
            button {
                @include button($color: rgb(255, 255, 255), $bg-color: $primary_color, $hover_color: $primary_color, $hover_bg_color: $primary_color_light);
            }
        }

        @media screen and (max-width: 650px) {
            & {
                @include flex(column, $justify: center, $align: center, $gap: 0, $wrap: false);
                margin-bottom: 4em;

                img {
                    width: 100%;
                }

                .feature {
                    width: 90%;
                    margin-top: 1.5em;
                }

                &.order-intro {
                    flex-direction: column-reverse;
                }
            }
        }
    }

    .brands {
        text-align: center;

        h2 {
            margin-bottom: 5px;
        }

        .subheading {
            font-size: 0.8em;
            color: rgb(141, 141, 141);
        }

        .container-brands {
            @include flex(row, $justify: center, $align: center, $gap: 10%, $wrap: true);
            margin: 1em 0 3em 0;

            img {
                width: 70px;
                padding: 0.5em 0;
            }
        }

        .contact {
            @include flex(row, $justify: space-between, $align: center, $gap: 10px, $wrap: true);
            border-radius: 7px;padding: 0 1.5em;
            box-shadow: 0 10px 15px rgb(230, 229, 229);

            & > * {
                margin: 0.5em 0;
            }

            .profile {
                @include flex(row, $justify: center, $align: center, $gap: 0, $wrap: false);
                text-align: left;
                
                img {
                    width: 30px;
                    margin-right: 1em;
                    border-radius: 50%;
                }

                div {
                    font-size: 0.8em;

                    span:last-child {
                        font-size: 0.8em;
                        color: rgb(141, 141, 141);
                    }
                }
            }

            button {
                @include button($color: $primary_color, $bg-color: $primary_color_light, $hover_color: rgb(255, 255, 255), $hover_bg_color: $primary_color);

                &:hover .fa-phone-alt {
                    color: rgb(255, 255, 255);
                }
            }

            @media screen and (max-width: 870px) {
                & {
                    @include flex(column, $justify: center, $align: center, $gap: 0, $wrap: true);
                }
            }
        }
    }

    .trust {
        text-align: center;
        margin: 4.5em 0;

        .container-cases {
            @include flex(row, $justify: space-between, $align: flex-start, $gap: 0, $wrap: false);
            text-align: left;
            margin: 2em 0;

            .case {
                width: calc((100% / 3) - 3%);
                
                img {
                    width: 100%;
                }
                
                p {
                    padding: 0.5em 0;
                    border-bottom: 1px solid rgb(240, 240, 240);
                }

                div {
                    font-size: 1.2em;
                    font-weight: 600;
                    padding-top: 0.5em;
                }

                span {
                    font-size: 0.7em;
                    color: rgb(141, 141, 141);
                }
            }

            @media screen and (max-width: 576px) {
                @include flex(column, $justify: center, $align: center, $gap: 2%, $wrap: false);

                .case {
                    width: 80%;
                    margin-bottom: 1.5em;
                }
            }
        }

        button {
            @include button($color: white, $bg-color: $primary_color, $hover_color: $primary_color, $hover_bg_color: $primary_color_light);
        }
    }

    .bg-gray {
        padding: 3em 0;

        .container-intro {
            @include flex(row, $justify: space-around, $align: center, $gap: 5%, $wrap: false);

            img {
                width: 40%;
            }

            button {
                text-transform: capitalize;
            }
        }

        
    }












    
}
